[submodule "src/carver_description"]
	path = src/carver_description
	url = https://github.com/CARVER-NEXT-GEN/carver_description.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/CARVER-NEXT-GEN/robot_localization.git
	branch = humble-devel
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/CARVER-NEXT-GEN/slam_toolbox.git
	branch = humble
[submodule "src/ros2_laser_scan_merger"]
	path = src/ros2_laser_scan_merger
	url = https://github.com/CARVER-NEXT-GEN/ros2_laser_scan_merger.git
[submodule "src/pointcloud_to_laserscan"]
	path = src/pointcloud_to_laserscan
	url = https://github.com/CARVER-NEXT-GEN/pointcloud_to_laserscan.git
	branch = humble
[submodule "src/carver_interfaces"]
	path = src/carver_interfaces
	url = https://github.com/CARVER-NEXT-GEN/carver_interfaces.git
[submodule "firmware/H745/carver_interface"]
	path = firmware/H745/carver_interface
	url = https://github.com/CARVER-NEXT-GEN/carver_interface.git

[submodule "src/carver_controller"]
	path = src/carver_controller
	url = https://github.com/CARVER-NEXT-GEN/carver_controller.git

[submodule "firmware/H755/IMU_Interface"]
	path = firmware/H755/IMU_Interface
	url = https://github.com/CARVER-NEXT-GEN/IMU_Interface.git
[submodule "firmware/G474/Carver_Steering/AMT212E-V"]
	path = firmware/G474/Carver_Steering/AMT212E-V
	url = https://github.com/CARVER-NEXT-GEN/AMT212E-V.git
	branch = G474RE
[submodule "firmware/G474/Carver_Interface"]
	path = firmware/G474/Carver_Interface
	url = https://github.com/CARVER-NEXT-GEN/Carver_Interface.git

[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/CARVER-NEXT-GEN/rplidar_ros.git
	branch = ros2
[submodule "firmware/G474/Carver_BNO_055"]
	path = firmware/G474/Carver_BNO_055
	url = https://github.com/CARVER-NEXT-GEN/Adafruit-9-DOF-Absolute-Orientation-IMU-Fusion-Breakout---BNO055.git
	branch = G4_UROS_UART
